# This is a basic workflow to help you get started with Actions

name: Auto Demo Fail Dev

# Controls when the workflow will run
on:
  workflow_run:
    workflows: [CI/CD Deployment Production]
    types:
      - completed
      
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
           ref: 'dev'

    # Runs commands using the runners shell
    - name: create random number
      id: number
      run: |
         random=$(( $RANDOM % 2 + 1 ))
         
         echo "::set-output name=random::$random"
    - name: Add line to file
      run: |
         random=$(( $RANDOM % 2 + 1 ))
         echo "::set-output name=EVALUATION_SCORE::${{ env.EVALUATION_SCORE }}"
         echo 'demo' >>  auto/${{ github.run_number }}_fail.md
          
    - name: Commit file
      if: "${{ steps.number.outputs.random == 1 }}"
      uses: swinton/commit@v2.x
      env:
        GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
      with:
        files: |
         auto/${{ github.run_number }}_fail.md
        commit-message: demo faildev
        ref: refs/heads/dev
        
    - name: Commit file
      if: "${{ steps.number.outputs.random == 2 }}"
      uses: swinton/commit@v2.x
      env:
        GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
      with:
        files: |
         auto/${{ github.run_number }}_fail.md
        commit-message: demo failstaging
        ref: refs/heads/dev





