# This is a basic workflow to help you get started with Actions

name: Auto Demo Fail Staging

# Controls when the workflow will run
on:
  schedule:
      - cron: '0 * * * *'

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
           ref: 'dev'


    # Runs commands using the runners shell
    - name: Add line to file
      run: |
         echo 'demo' >>  auto/${{ github.run_number }}_fails.md
          
    - name: Commit file
      uses: swinton/commit@v2.x
      env:
        GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
      with:
        files: |
         auto/${{ github.run_number }}_fails.md
        commit-message: demo failstaginglong
        ref: refs/heads/dev
        





