# This is a basic workflow to help you get started with Actions

name: test

# Controls when the workflow will run
on:



  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Run-Testim:
      runs-on: ubuntu-latest
      steps:
      - name: run testim testcases
        run: npm i -g @testim/testim-cli && testim --token "okolUMBR7BVLxTIZr7CDSdFphCBB3CLPYSdwhCdTbBZPSmai66" --project "VvXEosqxNXwuiV8e0RMS" --grid "Testim-Grid" --report-file "report.xml"
      - name: parse xml 
        id: getxml
        uses: mavrosxristoforos/get-xml-info@1.0
        with:
          xml-file: 'report.xml'
          xpath: '//testsuites/testsuite/@failure'   
      - name: check result
        run: echo ${{ steps.getxml.outputs.info }}
